@media(max-width:1000px) {
  .menu {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media(max-width:670px) {
  header {
    height: 55px;
  }
  .tab {
    font-size: 40px;
  }
  .logo-text {
    font-size: 40px;
  }
  .concept {
    height: 400px;
  }
  .text {
    font-size: 12px;
    line-height: 2;
  }
  .menu {
    width: 100%;
    margin-bottom: 50px;
  }
}
