
* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

body {
  margin:0;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 10px;
}

.logo-text {
  font-size: 50px;
  margin-left: 10px;
  float: left;
  color: orange;
}

.tab {
  float: right;
  font-size: 50px;
  color:white;
  background-color: gray;
  padding: 0 10px;
  opacity: 0.7;
}

.tab:hover {
  opacity: 0.4;
}

.concept {
  height: 600px;
  background-image: url(images/sea.JPG);
  opacity: 0.7;
  background-size: cover;
  text-align: center;
}

.text {
  padding-top: 140px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 2px;
}

.menus {
  /* height: 500px; */
  width: auto;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}

.menu {
  float: left;
  width: 33%;
}

.menu-icon {
  position: relative;
  opacity: 0.8;
}

.menu-icon:hover {
  opacity: 0.5;
}

.menus img {
  border-radius: 50%;
  height: 350px;
  
}

.menu-icon p {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.setsumei {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
}

.menu-inst {
  /* align-items: left; */
  text-align: left;
  padding-bottom: 60px;
}

.menu-inst img {
  float: left;
  margin-right: 30px;
  width:360px;
}
.menu-inst p {
  margin: 0;
}

.menu-inst h4 {
  margin: 0;
  padding: 0;
}

.menu-inst ul {
  margin: 0;
  /* display: table-cell;
  vertical-align: middle;
  margin-left: 60px; */
}


footer {
  height: 120px;
  background-color: rgba(50,50,50,0.5);
}

.f-left {
font-size: 30px;
padding: 10px 5px;
margin: 0;
/* float: left; */
}

.f-left img {
  height: 30px;
  width: 30px;
  padding-top: 5px;
}

.btn {
  padding: 0 8px;
  color: rgba(100,30,30);
  /* display: inline-block; */
}

.mobile {
  display: none;
}

.outlink:hover {
  opacity: 0.5;
}
